# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**<h3>Objectives:</h3>**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- Few example of evaluating arithmetic expression

### Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R
4. Julia
5. Scala

### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. scikit-learn
3. TensorFlow
4. Matplotlib
5. Numpy

| Data Science Tools |
| --- | 
| WEKA |
| Jupyter Notebook |
| Apache Spark|
| Tablau |
| RapidMiner |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Khushi Patel